.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.6rem;
  height: 3.6rem;
  border: 1px solid #cccccc;
  font-size: 1.6rem;
  margin: 0 0.5rem 0 0;
  cursor: pointer;
}
