.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  overflow: auto;
  padding: 4.4rem 1.5rem 0 1.5rem;

  .main_container {
    width: 50rem;
  }

  .cart_order {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    span,
    button,
    a {
      font-size: 1.6rem;
    }
  }

  .cart_back {
    text-decoration: underline;
  }

  .cart_bottom {
    border-top: 2px solid lightgray;
  }

  .cart_save_box {
    padding: 2rem 0;

    .cart_subtotal {
      display: flex;
      justify-content: space-between;
      span {
        font-size: 1.4rem;
      }
    }
    .cart_subtotal_text {
      font-weight: 900;
      font-size: 1.6rem;
    }

    .cart_save_text {
      margin-top: 1rem;
      color: grey;
      font-size: 1.2rem;
    }
  }

  .cart_checkout_btn {
    padding: 1rem 0;
    display: block;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 2rem;
    font-size: 1.4rem;
  }

  .cart_coupon_notice {
    color: #999999;
    padding: 2rem 0;
    font-size: 1.2rem;
  }
}
