.container {
  position: absolute;
  top: 4.6rem;
  right: 4.4rem;
  z-index: 100;
  animation: menuOffBounce 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(0);

  @keyframes menuOffBounce {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(0);
    }
  }

  .main_container {
    border: 1px solid black;
    width: 40rem;
    background-color: white;
    height: 700px;
    padding: 30px 30px;
  }

  .cart_order {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;

    span,
    button,
    a {
      font-size: 1.6rem;
    }
  }

  .cart_back {
    text-decoration: underline;
  }

  .cart_content_container {
    overflow: auto;
    height: 400px;
  }

  .cart_bottom {
    border-top: 2px solid lightgray;
  }

  .cart_save_box {
    padding: 2rem 0;

    .cart_subtotal {
      display: flex;
      justify-content: space-between;

      span {
        font-size: 1.4rem;
      }

      .cart_subtotal_text {
        font-weight: 900;
        font-size: 1.6rem;
      }
    }

    .cart_save_text {
      margin-top: 1rem;
      color: grey;
      font-size: 1.2rem;
    }
  }

  .cart_checkout_btn {
    padding: 1rem 0;
    display: block;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 2rem;
    font-size: 1.4rem;
  }

  .cart_coupon_notice {
    color: #999999;
    padding-top: 2rem;
    font-size: 1.2rem;
  }
}
