.container {
  position: relative;
  overflow-x: hidden;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  cursor: default;
  padding-bottom: 16rem;
  padding-top: 7rem;
}

.goBack {
  position: relative;
  left: 45%;
  top: 50px;
  display: inline-block;
  border-bottom: solid 1px black;
  b {
    font-size: 1.4rem;
  }
}
