.container {
    position: relative; 
    overflow-x: hidden;
    box-sizing: border-box;  
    width: 100%;
    height: 100%;
    cursor: default;
    padding-bottom:200px;
    padding-top: 100px;
}

.goBack{
    position:relative;
    left:45%;
    top:50px;
    display: inline-block;
    border-bottom: solid 1px black;
  }