@import '../../styles/variables.scss';

#footer {
  position: relative;
  @include flexCenter;
  flex-direction: column;
  width: 100%;
  padding: 12px 40px;
  border-top: 1px solid #111;

  .cont {
    @include flexSpaceBetween;
    width: 100%;
    padding: 4px 0;

    .footer_icons {
      display: flex;
      a {
        padding: 0 5px;
        svg {
          height: 20px;
        }
      }
    }
    .top {
      display: flex;
      a {
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        padding: 2px 4px;
        letter-spacing: -0.4px;
        transition: color 0.2s ease;
        &:hover {
          @include colorGray;
        }
      }
    }
    .copyright {
      font-size: 16px;
      font-size: 500;
    }
  }

  .footer_btm {
    @include flexCenter;
    padding: 10px 0 2px;
    li {
      padding: 0 6px;
      font-size: 12px;
    }
  }
}
