.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  background: white;
  z-index: 100;
  cursor: crosshair;
}

.modalImage {
  width: 46rem;
  height: 62rem;
  margin: 2rem 0;
}
