@media (max-width:1149px){
    .body{
        cursor:default;
    }
    .block {
        background-color: white;
        height:100%;
        border-bottom: solid black 1px;
        margin: 0 50px;
        overflow-x: hidden;
        overflow-y: hidden;
        cursor:pointer;
    }
    .rankBlock{
        position:relative;
        top:25px;
        text-align: center;
        background-color: black;
        width:50px;
        height:34px;
        color:white;
        margin:0px 0px 10px;
        padding: 7px 0px;
        border-radius: 20px;  
        cursor:pointer;
        font-family: 'Roboto', sans-serif;
    }

    .nameBlock{
        width:60%;
        height:88px;
        position:relative;
        top:30px;
        display: inline-block;
        font-size:25px;
        margin:0px;
        padding:0px; 
        text-overflow: ellipsis;
        cursor:pointer;
        font-family: 'Roboto', sans-serif;

    } 
    .imageBox {
        height: 100%;
        width:100%;
        cursor:pointer;
    
    }
    .imagesBlock2{
        height:80%;
        width:50%;
        position: relative; 
        left: 50%;
    }
    .imagesBlock1 {
        display:none;
    
    }
    .typeBlock {
    display: none; 
    }

.forHover:hover {
        .rankBlock{
        background-color: greenyellow;
        }
        .typeBlock{
            color: greenyellow;
        }
        .nameBlock{
            color: greenyellow;
        }
    }
        
    
}   


@media (min-width: 1150px) {
    body{
        cursor:pointer;
    }
    .block {
        background-color: white;
        height: 88px;
        border-bottom: solid black 1px;
        margin: 0 50px;
        overflow-x: hidden;
        overflow-y: hidden;
        cursor:pointer;
        box-sizing: border-box;
    }

    .rankBlock{
    position:relative;
    top:25px;
    text-align: center;
    background-color: black;
    width:50px;
    height:34px;
    color:white;
    margin:0px 0px 10px;
    padding: 7px 0px;
    border-radius: 20px;  
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

    }
    .nameBlock{
        width:60%;
        height:88px;
        white-space: nowrap;
        overflow:hidden;
        position:relative;
        left:70px;
        bottom:38px;
        display: inline-block;
        font-size:50px;
        font-family: 'Roboto', sans-serif;
        text-overflow: ellipsis;

    } 
    .typeBlock {
        width:200px;
        position:relative;
        left:65%;
        font-size:50px;
        bottom:130px;
        font-family: 'Roboto', sans-serif;
     
    } 
    .imageBox {
        display: flex;
        position: relative; 
        left: 90%;
        bottom: 180px; 
    }
    .imagesBlock1 {
        margin-right:10px;
            bottom: 155px;
            width:60px;
            height:70px;
            
    }     
    .imagesBlock2 {
        bottom: 155px;
        width:60px;
        height:70px;
        

}  
.forHover:hover {
    .rankBlock{
    background-color: greenyellow;
    }
    .typeBlock{
        color: greenyellow;
    }
    .nameBlock{
        color: greenyellow;
    }
    
}

}


