
 @media (max-width:1149px){
  .container {
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    padding-bottom: 100px;
    padding-top: 50px;
    cursor:default;
    
  
    }
    .cursor {
     display:none;
    }
   
    .date {
      position:relative; 
      left:75%;
      color:grey;
      font-size:1.3rem;
  
    }

 }

 @media (min-width: 1150px){
  .container {
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    padding-bottom: 100px;
    padding-top: 50px;
    cursor:default;
  
    }
  
  
    
    .cursor {
      width: 200px; 
      height: 300px;
      position:fixed;
    }
   
    .date {
      position:relative; 
      left:85%;
      color:grey;
      font-size:1.3rem;
    }

 }
